<% width||= "240px" %>
<% height||= "120px" %>
<% classes||="jsme-box" %>

<%#http://peter-ertl.com/jsme/JSME_2016-06-19/doc.html%>
<div id="<%= id %>" class="<%= classes %>" data-smiles="<%= smiles %>" data-options="[nozoom,depict,useopenchemlib,noshowdraganddropsymbolindepictmode]"></div>
