<% width||= "240px" %>
<% height||= "120px" %>
<% classes||="jsme-box" %>

<div id="<%= id %>" class="<%= classes %>" data-smiles="<%= smiles %>" data-options="[nozoom,depict,useopenchemlib,noshowdraganddropsymbolindepictmode]"></div>
