<% width||= "240px"%>
<% height||= "120px"%>

<div code="JME.class" archive="JME.jar" width="<%= width %>" height="<%= height %>">
  <param name="options" value="depict,useopenchemlib,noshowdraganddropsymbolindepictmode">
  <param name="smiles" value="<%= smiles %>">
</div>
