<div class="redbox_contents" id="jsme_box" style="width:600px;">
  <div class="head">
    <span style="float:center;">JSME molecular editor</span>
  </div>

  <div class="body">
    <div id='jsme_container'></div>
    <%= render :partial => 'molecules/search_box' %>
    <div align="right" style="margin-top: 1em">
      <input type=button value='Close' onclick="RedBox.close()">
    </div>
  </div>
</div>

<script type="text/javascript">
function showSmiles(jsmeEvent) {
	var jsme = jsmeEvent.src;
	var smiles = jsme.smiles();
	var search_query = jQuery('#structure_search_query');
	search_query.val(jsme.smiles());
}
//this function will be called after the JavaScriptApplet code has been loaded.
function jsmeLoad() {
  //Instantiate a new JSME:
  //arguments: HTML id, width, height (must be string not number!), options
  jsmeApplet = new JSApplet.JSME("jsme_container", "560px", "560px", {
  	//optional parameters
  	"options" : "query,hydrogens"
  });
  jsmeApplet.setCallBack("AfterStructureModified", showSmiles);
}

jQuery(document).ready(function(){
  jsmeLoad();
});
</script>
