<tr>
    <% if @search_type == :SIMILARITY %>
      <td><%= @coefficients[compound_id].round(2) %></td>
    <% end %>
    <td>
      <%= link_to compound_id, compound_attributes_view_path(:id => data_file_id, :compound_id => compound_id), {:target => "_blank"} %>
    </td>
    <td>
      <% smiles = get_attribute_value(compound_attributes, "smiles")
        smiles.each do |s| %>
          <%= render :partial => "smiles/structure_in_jsme",
                     :locals => { smiles: s } %>
      <% end %>
    </td>
</tr>
