<%= stylesheet_link_tag "d3" %>


<div id="heatmap_container" class="spreadsheet_popup" style="width: 900px; height: 800px;overflow: scroll;display: none">
  <div class="spreadsheet_box_title">
    <div style="float: left">Data heatmap</div>
    <div style="float: right;"><a href="#" onclick="$j('#heatmap_container').hide(); return false;">Close</a></div>
    <br style="clear:both"/>
  </div>
  <div id="slider"></div>
  <div id="heatmap" style=""></div>

</div>
<script type="text/javascript">
    //draw_slider();
</script>
